$light-green: #D7F2BA;
$green: #BDE4A8;
$darkgreen: #9CC69B;
$teal: #79B4A9;
$purple: #8A4F7D;
$lightpurple: #af679f;
$darkteal: #59968b;

html {
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	//background: -webkit-linear-gradient($lightpurple, $purple);
	//background: linear-gradient($lightpurple, $purple);
	background: -webkit-linear-gradient($darkteal, $purple);
	height:100%;
}


div.calc-container {

	div.calc {
		background:$teal;
		width: 35%;
		margin:0 auto;
		position:relative;
		border-radius: 5px;
		padding:15px;

		button {
			display: block;
			padding:20px;
			width:25%;
			height:25%;
			margin:5px;
			background: $purple;
			color: $light-green;
			border:none;
			border-radius: 10px;
			box-shadow: 2px 2px 0px 2px $lightpurple;
			font-size:1.5em;
			}
		div.input-container {
			text-align: center;
			overflow: hidden;
			input {
			height: 70px;
			width:95%;
			margin: 20px auto;
			text-align:right;
			border-radius:5px;
			border:none;
			font-size: 2em;
			color: $darkteal;
			}	
		}
		
		.button-row {
			display:flex;
			justify-content: space-between;
			padding:5px;

		}
	}
}

@media only screen and (max-width: 900px) {
	div.calc-container {
		div.calc {
			width: 50%;
		}
	}
}

@media only screen and (max-width: 770px) {
	div.calc-container {
		div.calc {
			width: 60%;
		}
	}
}

@media only screen and (max-width: 580px) {
	div.calc-container {
		div.calc {
			width: 90%;
		}
	}
}
